body {
	background-color: #57a9f2;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	min-width: 300px;
	min-height: 300px;
}

form {
	text-align: center;
}

a {
	color: white;
}

#navigation ul {
	display: flex;
	list-style: none;
	justify-content: center;
	position: fixed;
	width: 100%;
	padding-left: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#navigation ul {
	list-style: none;
}

#navigation li {
	width: 100%;
}

#navigation li a {
	display: inline-block;
	background-color: #316ca0;
	font-weight: bold;
	width: 100%;
	height: 100%;
	padding: 10px;
	text-decoration: none;
}

#navigation li a.active-tab {
	background-color: #3c7db6;
}

#navigation li a:hover {
	background-color: #3c7db6;
}

#settings {
	display: none;
}

#searchText {
	border: solid 3px #3888cf;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}