body {
  background-color: #57a9f2;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  min-width: 300px;
  min-height: 300px;
}

form {
  text-align: center;
}

a {
  color: white;
}

#navigation {
}

#navigation button {
  display: block;
}

#navigation h3 {
  display: inline-block;
}

#settings {
  display: none;
}


#searchText {
  border: solid 3px #3888cf;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}